services:
  server:
    container_name: ytnavigator-server
    image: yt-navigator:0.0.1
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - DJANGO_SECRET_KEY=django-insecure-key-change-me
      - DEBUG=True
      - LOG_LEVEL=INFO
      - DJANGO_LOG_LEVEL=INFO
      - GROQ_API_KEY=${GROQ_API_KEY:-}
      - LANGSMITH_TRACING=False
      - LANGSMITH_ENDPOINT=https://api.smith.langchain.com
      - LANGSMITH_API_KEY=
      - LANGSMITH_PROJECT=YT Navigator
    volumes:
      - ../logs:/app/logs:rw
      - /olares/share/hdd0/migrationdata/YT-Navigator/hf_cache:/app/.cache/huggingface:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  db:
    container_name: ytnavigator-db
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - /olares/share/hdd0/migrationdata/YT-Navigator/db:/var/lib/postgresql/data
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
